/*WIDTH SIZE*/
$max-width: 100%;
$max-width-description: 1000px;

/*HEIGHT SIZE*/
$height-banner: 347px;
$height-description: 285px;

/*SPACING*/
$spacing-reset: 0;
$spacing-normal: 15px;
$spacing-middle: 30px;

/*FONT-SIZE*/
$font-size-normal: 14px;
$font-size-midldle: 25px;
$font-size-big: 70px;

/*FONT-WEIGHT*/
$font-weight-small: 100;

/*TRANSITIONS*/
$small-time: 0.5s;

/*COLOR*/
$green-color: #B4BF35;
$white-color: #fff;
$greenblack-color: #3e3e0e;

/*LINE HEGIHT*/
$line-height-normal: 10px;