@import '../helpers/variables.scss';

.result-col-reset{
	padding-left: $spacing-reset;
	padding-right: $spacing-reset;
}

.result-arae-left{
	margin-top: $spacing-middle;
	
	& .result-search-inputgroup{
		position: relative;
		margin-bottom: $spacing-normal;

		& .result-search-input{
			width: $max-width;
			padding: $font-size-normal + 2;
			padding-left: $spacing-super-big + 4;
			border: $border-line-normal solid $greengrey-color;
			color: $greenblack-color;
			font-size: $font-size-normal + 2;

	    	&:focus{
	    		border-color: $green-color;
	    		outline: none;
	    	}
		}

		& .result-icon-input{
			position: absolute;
			font-size: $font-size-midldle;
		    top: $spacing-normal;
		    left: $spacing-normal - 3;
		    margin-bottom: $spacing-reset;
		}
	}

	& .result-par-page{
		width: $max-width;
		display: table;
		margin-bottom: $spacing-middle + 10;

		& .result-par-pagetitle{
			display: table-cell;
			height: $height-par-page;
			vertical-align: middle;
			font-size: $font-size-normal + 2;
			color: $green-color;
		}
		& .result-par-pagegroup{
			float: right;

			& ul{
				margin-bottom: $spacing-reset;
				& li{
					display: inline-block;
				    background: $green-color;
				    text-align: center;
				    padding: $spacing-normal - 3 $spacing-normal + 2;
				    word-wrap: break-word;
				    cursor: pointer;
				    margin-left: 10px;

				    &:nth-child(1){
				    	margin-left: $spacing-reset;
				    }

					& a{
						font-weight: $font-weight-bold;
						font-size: $font-size-normal + 2;
						min-width: $min-width-par-page;
    					display: block;
    					color: $greenblack-color;
    					text-decoration: none;
					}

					&.active{
						background: transparent;
    					border: $border-line-normal solid $green-color;
    					padding: $spacing-normal - 5 $spacing-normal + 2;
						& a{
							color: $green-color;
						}
						&:hover{
							border-color: $greenblack-color;
						}
					}

					&:hover{
						background: $greenblack-color;

						& a{
							color: $white-color;
						}
					}
				}
			}
		}
	}

	& .result-groupselect{
		& .result-groupselect-title{
			border-bottom: 2px solid #434343;
    		padding-bottom: 25px;
    		margin-bottom: 30px;

			& .result-groupselect-text{
				display: table-cell;
				height: 52px;
				vertical-align: middle;
				font-size: $font-size-normal + 2;
				color: $green-color;
				padding-left: 22px;
			}
			& .result-groupselect-symbol{
				float: left;
				&.categorie, &.marque{
					&:before{
						content: '';
						width: 52px;
						height: 52px;
						background-size: contain;
						background-repeat: no-repeat;
						background-position: center;
						display: inline-block;
					}
				}

				&.categorie{
					&:before{
						background: url('../img/Objet-dynamique-vectoriel.png');
					}
				}

				&.marque{
					&:before{
						background: url('../img/Objet-dynamique-vectoriel-copie.png');
					}
				}
			}
		}
	}
}