@import "../helpers/variables.scss";

h2{
	font-size: $size-content-title;
	text-transform: $content-transform-title;
	color: $content-color;
	font-weight: $font-weight-content-title;
	margin-bottom: $margin-content-bottom;
}

h4{
	font-size: $size-content-normal;
	line-height: $line-height-main;
	color: $content-color;
	font-weight: $font-weight-normal-title;
	margin-bottom: $margin-content-bottom;
}

body{
	line-height: $line-height-body;
	color: $text-body-color;
}

.bg-grey{
	background-color: $background-content-color;
}

.container-fluid, .container{
	padding: $padding-container-fuild-x $padding-container-fuild-y;
}

.title-area{
	margin-bottom: $margin-content-area-title-bottom;
}