$max-width: 100%;
$max-width-header: 540px;
$max-height: 100%;
$map-height: 400px;

$size-logo-image: 200px;
$size-logo-small-image: 50px;
$size-carousel-title: 19px;
$size-panel-footer-h3: 32px;
$size-panel-footer-h4: 14px;
$size-content-title: 24px;
$size-content-normal: 19px;
$size-footer-icon: 20px;

$content-transform-title: uppercase;

$main-color: #f4511e;
$content-color: #303030;
$background-content-color: #f6f6f6;
$background-panel-color: #fff !important;

$text-main-color: #ffffff;
$text-body-color: #818181;
$text-panel-footer-color: #aaa;

$padding-main: 25px;
$padding-jumbotron-x: 100px; 
$padding-jumbotron-y: 25px;
$padding-container-fuild-x: 60px;
$padding-container-fuild-y: 50px;
$padding-thumbnail-bottom: 15px;

$margin-thumbnail-image-bottom: 10px;
$margin-content-area-title-bottom: 20px;
$margin-footer-icon-bottom: 20px;
$margin-carousel-title-x: 70px;
$margin-carousel-title-y: 0;
$margin-panel-button: 15px 0;
$margin-content-bottom: 30px;

$border-main-size: 1px;
$border-main: 1px solid #f4511e;
$border-radius-main: 0;

$box-shadow-main: 5px 0px 40px rgba(0,0,0, .2);

$line-height-main:1.375em;
$line-height-body: 1.8em;

$font-weight-normal-title:400;
$font-weight-content-title:600;

$font-style-carousel-title:italic;
$font-style-carousel-normal:normal;

$transition-main: 0.5s;
